header.header 
	.container
		.header__wrap
			.header__logo моя опора
			nav.header__menu
				ul.header__menu-list 
					li.header__menu-item 
						a.header__menu-link О нас
					li.header__menu-item 
						a.header__menu-link Примеры
					li.header__menu-item
						a.header__menu-link Схема работы
					li.header__menu-item
						a.header__menu-link Цены
					li.header__menu-item
						a.header__menu-link Контакты
			.header__phone
				span 8 (921) 809-90-48
				span 8 (995) 590-70-15
			a.header__button Связаться с нами

header.header.header-mobile
	button.burger 
		span.burger__line
		span.burger__line
		span.burger__line
	.header-mobile__wrap 
		.header-mobile__logo моя опора
		.header-mobile__contacts 
			.header-mobile__phone
				span 8 (921) 809-90-48
				span 8 (995) 590-70-15
			a.header-mobile__button Связаться с нами
	.header-mobile__menu 
		button.burger.header-mobile__menu-burger
			span.burger__line
			span.burger__line
			span.burger__line
		.mobile-menu
			.mobile-menu__logo моя опора
			nav.mobile-menu__nav
				ul.mobile-menu__list
					li.mobile-menu__item 
						a.mobile-menu__link О нас
					li.mobile-menu__item 
						a.mobile-menu__link  Примеры
					li.mobile-menu__item 
						a.mobile-menu__link  Схема работы
					li.mobile-menu__item 
						a.mobile-menu__link Цены
					li.mobile-menu__item 
						a.mobile-menu__link Контакты
			.mobile-menu__phone 
				.mobile-menu__phone-num 8 (921) 809-90-48
				.mobile-menu__phone-num 8 (995) 590-70-15
			a.btn-accent Связаться с нами

			
