header.header 
    .header__logo моя опора
    nav.header__nav 
        ul.header__menu 
            li.header__menu-item О нас
            li.header__menu-item Примеры 
            li.header__menu-item Схема работы
            li.header__menu-item Цены
            li.header__menu-item Контакты
