header.header 
	.container
		.header__wrap
			.header__logo моя опора
			nav.header__menu
				ul.header__menu-list 
					li.header__menu-item 
						a.header__menu-link О нас
					li.header__menu-item 
						a.header__menu-link Примеры
					li.header__menu-item
						a.header__menu-link Схема работы
					li.header__menu-item
						a.header__menu-link Цены
					li.header__menu-item
						a.header__menu-link Контакты
			.header__phone
				span 8 (921) 809-90-48
				span 8 (995) 590-70-15
			a.header__button Связаться с нами

			
