header.header.header__desctop 
	.container
		.header__wrap
			.header__logo моя опора
			nav.header__menu
				ul.header__menu-list 
					li.header__menu-item 
						a.header__menu-link.scroll(href="#advantages") О нас
					li.header__menu-item 
						a.header__menu-link.scroll(href="#examples") Примеры
					li.header__menu-item
						a.header__menu-link.scroll(href="#schema") Схема работы
					li.header__menu-item
						a.header__menu-link.scroll(href="#prices") Цены
					li.header__menu-item
						a.header__menu-link.scroll(href="#contact") Контакты
			.header__phone
				span 8 (921) 809-90-48
				span 8 (995) 590-70-15
			a.header__button.popup-btn-js(href="#contact-popup") Связаться с нами

header.header.header-mobile
	button.burger 
		span.burger__line
		span.burger__line
		span.burger__line
	.header-mobile__wrap 
		.header-mobile__logo моя опора
		.header-mobile__contacts 
			.header-mobile__phone
				span 8 (921) 809-90-48
				span 8 (995) 590-70-15
			a.header-mobile__button.popup-btn-js(href="#contact-popup") Связаться с нами
	.header-mobile__menu 
		button.burger.header-mobile__menu-burger
			span.burger__line
			span.burger__line
			span.burger__line
		.mobile-menu
			.mobile-menu__logo моя опора
			nav.mobile-menu__nav
				ul.mobile-menu__list
					li.mobile-menu__item 
						a.mobile-menu__link.scroll(href="#advantages") О нас
					li.mobile-menu__item 
						a.mobile-menu__link.scroll(href="#examples")  Примеры
					li.mobile-menu__item 
						a.mobile-menu__link.scroll(href="#schema")  Схема работы
					li.mobile-menu__item 
						a.mobile-menu__link.scroll(href="#prices") Цены
					li.mobile-menu__item 
						a.mobile-menu__link.scroll(href="#contact") Контакты
			.mobile-menu__phone 
				.mobile-menu__phone-num 8 (921) 809-90-48
				.mobile-menu__phone-num 8 (995) 590-70-15
			a.btn-accent.mobile-menu-btn.popup-btn-js(href="#contact-popup") Связаться с нами
	.header-mobile__overlay


.mfp-hide.contact-popup(id="contact-popup")
	h2.contact-popup__title Свяжитесь с нами
	.contact-popup__subtitle Наш менеджер ответит на все интересующие вас вопросы
	.contact-popup__inpbox
		.contact-popup__inpblock
			input(id="name" type="name", autocomplete="name", name="Name", value placeholder="Ваше имя").contact-popup__input
		.contact-popup__inpblock.input-wrap-js
			input(id="phone-header" type="tel").contact-popup__input.phone-select.phone-select__popup
			<span id="error-msg" class="hide error-msg"></span>
		.contact-popup__inpblock
			textarea(name="Textarea", placeholder="Комментарий/Вопрос", row="3").contact-popup__input.contact-popup__textarea
		.contact-popup__inpblock
			button(type="submit").contact-popup__input-submit.btn-accent Связаться
		.contact-popup__policy Нажимая на кнопку, вы соглашаетесь с 
			a(href="policy.html" target="_blanc").contact-popup__policy-link.policy-popup политикой конфиденциальности
				
		
				
			
		
