.scheme-work
  padding: 15% 0
  
.scheme-work__title
  text-align: center
  margin-bottom: 6%

.scheme-work__wraper

.scheme-work__item
  padding-bottom: 70px
  position: relative

.scheme-work__mainblock
  margin: 0 auto
  max-width: 860px

.scheme-work__center
  width: 50%
  text-align: center

.scheme-work__line
  width: 1px
  background-color: rgb(143, 143, 143)
  top: 95px
  position: absolute
  width: 1px
  // top: 0
  background: #222
  bottom: 0
  left: 0
  right: 0
  margin: 0 auto

.scheme-work__circle
  border-width: 2px
  border-color: rgb(31, 164, 178)
  background: rgb(31, 164, 178)
  top: 95px
  width: 30px
  height: 30px
  position: absolute
  right: 0
  left: 0
  // top: 5px
  margin: 0 auto
  // background-color: #222
  border-radius: 100%
  border: 2px solid #fff

.scheme-work__number
  color: #fff
  font-size: 16px
  line-height: 1.8

.scheme-work__img
  width: 100%
  max-width: 80px
  display: block
  margin: 0 auto 14px
  
.scheme-work__name
  font-size: 22px
  line-height: 1.35
  margin-bottom: 6px
  margin-top: 10px
  color: #263d4c
  font-weight: 600