.policy-popup
    max-height: 500px
    

.policy-popup__content 
    width: 90%
    background-color: $color-background
    padding: 20px 30px
    margin: 100px auto

.policy-popup__title
    margin-bottom: 30px

.policy-popup__list
    padding: 0 25px

.policy-popup__item-text
    padding: 10px 0

.policy-popup__item
    margin-bottom: 20px