@import "~magnific-popup/dist/magnific-popup.css"
  
.examples
  text-align: center
  background-color: #f1f1f1
  padding: 10% 0
  min-width: 0

.examples__title
  margin-bottom: 6%

.examples__wrap
  width: 100%

  @include max-w(425)
    padding: 0 25px

.examples__slide-wrap
  box-shadow: 0 0 40px 5px rgb(210, 227, 255)

.hover-image-scale
  display: inline-block
  overflow: hidden

.hover-image-scale img
  transition: 1s
  display: block

.hover-image-scale img:hover
  transform: scale(1.2)

//swiper styles
.swiper 
  width: 100%
  height: 100%
  
.swiper .swiper-slide
  display: block
  width: 100px
  border-radius: 5px
  margin-bottom: 50px

.swiper-slide .examples__img
  display: block
  aspect-ratio: 1.5 / 1
  object-fit: cover
  border-radius: 6px
  
.swiper-button-next::after
  color: #1FA4B2
  font-weight: 500
  left: 0
  font-size: x-large

.swiper-button-prev::after
  color: #1FA4B2
  font-weight: 500
  left: 0
  font-size: x-large

.swiper .swiper-button-prev,
.swiper .swiper-button-next
  width: 60px
  height: 60px
  border-radius: 50%
  top: 40%

  &:hover
    transition: .2s ease-out
    background-color: #f0f8ff93
    
.swiper-pagination-bullet
  width: 15px
  height: 15px
  border-radius: 50%
  margin-bottom: 11%
  cursor: pointer
  background-color: #1FA4B2
  opacity: 1

.swiper-pagination-bullet-active
  background: #f0f8ff93
  border: 1px solid #1FA4B2

// popup styles
.mfp-preloader
  width: 30px
  height: 30px
  background-color: #FFF
  opacity: 0.65
  margin: 0 auto
  -webkit-animation: rotateplane 1.2s infinite ease-in-out
  animation: rotateplane 1.2s infinite ease-in-out

@-webkit-keyframes rotateplane 
  0%
    -webkit-transform: perspective(120px)
  50%
    -webkit-transform: perspective(120px) rotateY(180deg)
  100%
    -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg)


@keyframes rotateplane 
  0%
    transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  50%
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  100%
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg)




