// VARIABLE

// FONT FAMILY
$font-family-base: "Heebo", sans-serif;

$font-weight-thin: 100;           // Thin (Hairline)
$font-weight-extra-light: 200;    // Extra Light (Ultra Light)
$font-weight-light: 300;          // Light
$font-weight-normal: 400;         // Regular (normal)
$font-weight-medium: 500;         // Medium
$font-weight-semi-bold: 600;      // Semi Bold (Demi Bold)
$font-weight-bold: 700;           // Bold
$font-weight-extra-bold: 800;     // Extra Bold (Ultra Bold)
$font-weight-black: 900;          // Black (Heavy)

$font-weight-base: $font-weight-normal;
// COLOR
$color-background: #fff;
$color-accent: #1fa4b2;
$color-text-base: #000;
$color-title: #263d4c;

// FONT SIZE
$line-height-base: 1.5;
$font-size-base: 15px;

$h1: $font-size-base * 3;
$h2: $font-size-base * 2;
$h3: $font-size-base * 1.5;
$h4: $font-size-base * 1.3;
$h5: $font-size-base * 1.2;
$h6: $font-size-base * 1.1;




$blue: #428BFF;
$red: #FF4A53;
$dark: #333;

$accent: $blue;
$accent-inactive: desaturate($accent, 85%);
$secondary: $accent-inactive;


/* tab setting */
$tab-count: 4;
$indicator-width: 50px;
$indicator-height: 4px;

/* breakpoints */
$breakpoints: (
  medium: #{$tab-count*250px},
  small: #{$tab-count*150px}
);


/* selectors relative to radio inputs */
$label-selector: "~ ul > li";
$slider-selector: "~ .slider";
$content-selector: "~ .content > section";

@mixin tabs(
  $label-selector: $label-selector,
  $slider-selector: $slider-selector,
  $content-selector: $content-selector) {
    
  @for $i from 1 through $tab-count {
    &:nth-of-type(#{$i}):checked {
      #{$label-selector}:nth-child(#{$i}) {
        @content;
      }

      #{$slider-selector} {
        transform: translateX(#{100% * ($i - 1)});
      }

      #{$content-selector}:nth-child(#{$i}) {
        display: block;
      }
    }
  }
}
