
footer.footer
    .footer__content
        .footer__col(data-wow-duration="2s").wow.animated.animate__fadeInUp.animate__delay-0.1s
            .footer__company-info 
                .footer__company-info-text
                    span.footer__address Санкт-Петербург
                        br
                        |Pаботаем по всей Лен области
                    span.footer__work-hours График работы: 
                        br 
                        |Пн-Пт, 8:00-19:00
        .footer__col(data-wow-duration="2s").wow.animated.animate__fadeInUp.animate__delay-0.1s
            .footer__phone
                .footer__phone-num 8 (921) 809-90-48
                .footer__phone-num 8 (921) 809-90-48
            a(href="policy.html" target="blanc").footer__policy Политика конфиденциальности
        .footer__col(data-wow-duration="2s").wow.animated.animate__fadeInUp.animate__delay-0.1s
            .footer__socials-wrap
                .footer__socials
                    //- a(href="#").footer__social-link(data-wow-duration="3s").wow.animated.animate__flipInX.animate__delay-0.1s
                    //-     i.fab.fa-facebook-f.fa-lg.footer__socials-img
                    a(href="#").footer__social-link(data-wow-duration="3s").wow.animated.animate__flipInX.animate__delay-0.1s
                        i.fab.fa-whatsapp.fa-lg.footer__socials-img
                    a(href="#").footer__social-link(data-wow-duration="3s").wow.animated.animate__flipInX.animate__delay-0.1s
                        i.fab.fa-vk.fa-lg.footer__socials-img
                    //- a(href="#").footer__social-link(data-wow-duration="3s").wow.animated.animate__flipInX.animate__delay-0.1s
                    //-     i.fab.fa-telegram.fa-lg.footer__socials-img
                    //- a(href="#").footer__social-link(data-wow-duration="3s").wow.animated.animate__flipInX.animate__delay-0.1s
                    //-     i.fab.fa-viber.fa-lg.footer__socials-img
                .footer__email
                    a(href="mailto:moya.opora@yandex.ru").footer__email-link(data-wow-duration="3s").wow.animated.animate__flipInX.animate__delay-0.1s moya.opora@yandex.ru
    .footer__bottom-wrapper
        .footer__copyrights &copy; 2022



