section.main-screen
	.container
		.main-screen__content(data-wow-duration="1s").wow.animated.animate__fadeInUp
			h1.main-screen__title ИЗДЕЛИЯ ИЗ НЕРЖАВЕЮЩЕЙ СТАЛИ СВАРОЧНЫЕ РАБОТЫ
			a.btn-accent.main-screen__btn Вызвать замерщика
	.main-screen__decor
