section.main-screen(id="main")
	.container
		.main-screen__content
			h1.main-screen__title(data-wow-duration="1s").wow.animated.animate__fadeInLeft ИЗДЕЛИЯ ИЗ НЕРЖАВЕЮЩЕЙ СТАЛИ СВАРОЧНЫЕ РАБОТЫ
			a.btn-accent.main-screen__btn.scroll(href="#contact" data-wow-duration="2s").wow.animated.animate__fadeInUp Вызвать замерщика
	.main-screen__decor
