.policy
    background: white
    padding: 20px 30px
    font-family: $font-family-base

.policy__title
    color: #000
    font-weight: 600
    margin-bottom: 30px

    @inlude max-w(768)
        font-size: 18px

.policy__list
    padding: 0 25px

    @inlude max-w(450)
        padding: 0 10px

.policy__item-text
    padding: 10px 0

.policy__item
    margin-bottom: 20px

.mfp-bg,
.mfp-wrap
  z-index: 3000

/**
 * Fade-zoom animation 
 */

/* start state */
.my-mfp-zoom-in .zoom-anim-dialog 
	opacity: 0
	transition: all 0.2s ease-in-out
	transform: scale(0.8) 


/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog 
	opacity: 1
	transform: scale(1) 


/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog 
	transform: scale(0.8)
	opacity: 0

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg 
	opacity: 0
	transition: opacity 0.3s ease-out

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg 
	opacity: 0.8

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg 
	opacity: 0